[submodule "symfony"]
	path = symfony
	url = git@github.com:Fogswimmer/kp-api.git
	branch = main
[submodule "nuxt"]
	path = nuxt
	url = git@github.com:Fogswimmer/kp-nuxt.git
	branch = main
[submodule "services/image-compressor"]
	path = services/image-compressor
	url = https://github.com/Fogswimmer/img_compressor_go.git
	branch = main
